*{margin:0;padding:0; }
 
.hoten{
	font-family: 'Patrick Hand';
}

tr:nth-child(even) {
    background: #e8e8e8;
}

tr:hover {
    background: #252222;
    color:white;
}

tr.tieude {
    color: white;
    background: green;
    font-weight: bold;
}

.father {
    margin-top: 16px;
    margin-bottom: 16px
}
 
table.bang {
    width: 100%;
}